//* footer **/
#footer {
  color: #000;
  font-size: 12px;
  text-align: center;
  margin: 0;
  line-height: 17px;

  // facebook, RSS icons
  img {
    padding: 0;
    vertical-align: middle;
    float: right;
  }

  // links to other CCA sites
  .links {
    background-color: #eee;
    border: 1px solid $lightGray;
    color: $darkGray;
    font-size: 12px;
    margin: 3px 0;
    padding: 3px 10px 3px 3px;
    text-align: right;

    // add background highlighting on hover
    a {
      border: none;
      color: #333;

      &:hover {
        background-color: #666;
        color: $white;
      }
    }
  }
}
