// main horizontal navigation menu
// markup comes from Drupal's "Nice Menus" module

// color scheme summary:
// background - $faintGray
// font color - $darkGray
// on hover background - $darkGray
// on hover font color - $white

ul.nice-menu {
    background: $faintGray;

    a {
        color: $darkGray;
        text-align: center;

        &:hover {
            background: $darkGray;
            color: $white;
        }
    }

    ul {
        border: 0;
    }

    li {
        background: $faintGray;
        border: 1px solid $darkGray;
        border-right: 0;
        width: 160px; // makes menu width = #header width

        &:last-child {
            border-right: 1px solid $darkGray;
        }

        ul li {
            background: #eee !important; // screw it, I can't get this to work with !imp
            border-right: 1px solid $darkGray;
            color: $darkGray;
            // necessary to make sub-menu items same width as upper levels
            left: -1px;
            width: 161px;
        }

        // top-level menu link when _open_ but not hovered over
        &.over > a {
            color: $white;
        }

        &.menuparent,
        &.menuparent ul li,
        li.menuparent {
            background: none;
        }

        &.menuparent:hover,
        &.over,
        &:hover,
        li ul li:hover,
        li.menuparent:hover,
        li.over,
        ul li a:hover {
            background: $darkGray;
        }
    }

    .menuparent a {
        background: none;
    }
}
