// OVERRIDING BOOTSTRAP STYLES WITH CCA COLORS

// flat design
.btn {
    border-radius: 0;
}

.btn-default {
    background-color: lighten($ccaOrange, 33%);
    border-color: lighten($ccaOrange, 33%);
    color: $ccaOrange;
}

.btn-default:hover,
.btn-default:active {
    background-color: darken($ccaOrange, 5%);
    border-color: darken($ccaOrange, 5%);
    color: darken($ccaOrange, 30%);
}

// Undo extra spacing on blue header boxes on home page
// badly needs refactoring because…well you see the selectors, don't you?
#newbooks h3,
#services h3,
#home-news h3 {
    margin-top: 0;
}
