// import reusable vars, mixins, etc.
@import '_colors';
// other styles based on ZEN
@import '_layout';
@import '_html-elements';
// styles for Course reserve request webform
@import '_webform';
//
// ZEN STYLES
//
// This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
// file, but instead copy this CSS to their own stylesheets.
//
// In this stylesheet, we have included all of the classes and IDs from this
// theme's tpl.php files. We have also included many of the useful Drupal core
// styles to make it easier for theme developers to see them.
//
// Many of these styles are over-riding Drupal's core stylesheets, so if you
// remove a declaration from here, the styles may still not be what you want
// since Drupal's core stylesheets are still styling the element. See the
// drupal6-reference.css file for a list of all Drupal 5.x core styles.
//
// In addition to the style declarations in this file, other Drupal styles that
// you might want to override or augment are those for:
//
//   Book Navigation  See line 74  of Zen's drupal6-reference.css file
//   Forum            See line 197 of Zen's drupal6-reference.css file
//   Menus            See line 667 of Zen's drupal6-reference.css file
//   News Aggregator  See line 20  of Zen's drupal6-reference.css file
//   Polls            See line 287 of Zen's drupal6-reference.css file
//   Search           See line 320 of Zen's drupal6-reference.css file
//   User Profiles    See line 945 of Zen's drupal6-reference.css file
//
// **************** HYPERLINK STYLES ****************

a:link,
a:visited,
dt a {
  color: #072e99;
  text-decoration: none;
  border-bottom: 1px dotted #072e99;
}

a:active {
  color: #0000ff;
}

a:hover {
  color: #666;
  text-decoration: none;
  border-bottom: 1px dotted #666;
}

a img, 
a img:hover {
  border: none;
  background: white;
  text-decoration: none;
}

// ********** EXPERIMENTAL - DEVELOPMENT IN PROCESS***************

// -----New Materials Library and Company content type submission form styling------

body.not-front.not-logged-in.node-type-nml-sample.no-sidebars[class*='page-content-'].section-content.lightbox-processed div.terms.terms-inline,
body.not-front.logged-in.node-type-nml-sample.no-sidebars[class*='page-content-'].section-content.lightbox-processed.admin-menu div.terms.terms-inline {
  display: block;
  position: absolute;
  top: 250px;
  left: 350px;
  border: 1px solid rgb(169, 169, 169);
  margin: 10px 16px 10px 10px !important;
  padding: 4px;
  width: 500px;
}

div.field.field-type-text.field-field-sample-desc {
  display: block;
  position: absolute;
  top: 100px;
  left: 350px;
  border: 1px solid rgb(169, 169, 169);
  margin: 10px 16px 10px 10px !important;
  padding: 4px;
  width: 500px;
}

div.field.field-type-link.field-field-company-url {
  float: left;
}

div.field.field-type-nodereference.field-field-company-lookup div.field-items div.field-item.odd {
  display: inline;
}

div[id^='node-'].node.node-teaser.node-type-mat-company h2.title,
div[id^='node-'].node.node-mine.node-teaser.node-type-mat-company h2.title {
  font-size: 14px;
  padding: 0;
}

ul.menu li,
div.content,
body.sidebar-left.lightbox-processed.admin-menu,
body.sidebar-left.lightbox-processed.tableHeader-processed.admin-menu,
.admin-menu {
  background: none !important;
  background-color: #fff !important;
}

#admin-menu {
  background-color: #000;
}

div.logo-floater h1 a:link {
  color: #fff;
}

// ********** HEADING / TEXT / LIST STYLES ***************

// Establishes default type face for website
a,
div,
h1,
h2,
h3,
h4,
input,
li,
p,
strong,
table,
textarea,
address {
  font-family: Lucida grande, Verdana, Arial, Helvetica, sans-serif;
}


h1,
h2,
h3,
h4,
h5 {
  color: $darkGray;
}

h1 {
  font-size: 21px;
  padding: 0 5px;
  text-align: left;
  color: #6B562D;
  letter-spacing: 1px;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  border-bottom: 1px dashed $ccaTan;
}

h2 {
  font-size: 18px;
  padding: 2px 0 2px 10px;
  margin: 0;

  img {
    margin: 0 15px 0 5px;
  }
}

h3 {
  font-size: 16px;
  padding: 0 0 2px 10px;
  margin: 0;
}

h4 {
  font-size: 15px;
  padding: 0 0 2px 10px;
  margin: 0;
}

h5 {
  font-size: 13px;
  padding: 0 0 2px 10px;
  margin: 0;
}

p {
  color: #333;
  font-size: 12px;
  line-height: 15px;
  padding: 0 20px 10px 10px;
  margin: 0;

  strong {
    font-size: 12px;
  }
}

img {
  padding: 2px;
  border: 1px solid $lightGray;
  margin: 2px 5px;
}

p.date {
  font-size: 12px;
  padding: 0 0 20px 10px;
  margin: 0;
}

ul,
ol {
  margin: 3px 10px 12px 0;
}

li {
  color: $darkGray;
  font-size: 12px;
  line-height: 15px;
  margin: 3px 10px 0 0;
}

input,
td {
  color: $darkGray;
  font-size: 11px;
}

#sidebar-left ul,
#sidebar-right ul {
  margin-top: 5px;
}

#sidebar-left h3,
#sidebar-right h3,
#sidebar-left h2,
#sidebar-right h2,
#sidebar-left h4,
#sidebar-right h4 {
  font-size: 13px;
}

dt {
  margin: 5px;
  font-size: 12px;
}

blockquote {
  font-size: .9em;
  text-align: justify;
  border-left: 1px solid #999;
  margin: 0 0 5px 65px;
  padding: 0 120px 0 5px;
}

.text {
  font-weight: normal;
  color: #333;
  font-size: .9em;
}

// ** COLUMNS and CONTAINERS**
#column {
  margin-right: 5px;
  margin-left: 5px;
  width: 360px;
  float: left;
}

// primarily used for lists of databases
.list-box {
  // @todo all this spacing, layout should be handled by other class
  // list-box should only touch bg-color & border
  float: left;
  // @todo why is this rule necessary?
  min-width: 350px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  // color overridden by modifier classes below
  border: 1px solid $ccaTan;

  ul li {
    list-style: none;
  }
}

.list-box--red {
 border-color: #8b0000;
}

.list-box--blue {
  background-color: $ccaTan;
  border-color: $darkBlue;
}

.list-box--gray {
  background-color: $lightGray;
  border-color: $darkBlue;
}

#redborder,
#grayborder,
#blueborder {
  float: left;
  min-width: 350px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
}

#redborder {
  background-color: #fff;
  border: 1px solid #8b0000;
}

#blueborder {
  background-color: $ccaTan;
  border: 1px solid $darkBlue;
}

// fun thing about "grayborder"? it's border isn't gray!
// the frickin' background is gray but the border is blue
#grayborder {
  background-color: $lightGray;
  border: 1px solid $darkBlue;
}

#redborder ul li,
#grayborder ul li,
#blueborder ul li {
  list-style: none;
}

#singlepage {
  margin: 0 0 10px 110px;
  width: 700px;
  float: left;
  padding: 25px;
  border: 1px dashed $lightGray;
}

// links in footer
// virtually none of these styles are necessary
#ccalinks {
  float: left;
  width: 950px;
  color: #666;
  font-size: 12px;
  background-color: $ccaTan;
  text-align: right;
  padding: 3px 10px 3px 3px;
  margin: 3px 0;
  border: 1px dotted #b8a47f;

  a {
    border: none;
    color: #444;

    &:hover {
      background-color: #968668;
      color: #fff;
      text-decoration: none;
    }
  }
}

@import '_mllm';

//* SPECIAL *
// feedburner
#creditfooter {
  display: none;
}

//* body *
body {
  background-color: #fff;
  margin: 0;
  padding: 10px;
  padding-top: 0;
}

// Wrapper for logo
#logo {
  margin: 0 10px 0 0;
  padding: 0;
}

#logo a,
#skip-to-nav a,
ul.nice-menu a {
  border-bottom: none;
}

/* The name of the website */
#site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;

  a:hover {
    text-decoration: underline;
  }
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

/* The title of the page */
h1.title,
/* Block title or the title of a piece of content when it is given in a list of content */
h2.title,
/* Comment title */
h3.title {
  margin: 0;
}

/* Important messages (status, warning, and error) for the user */
div.messages {
}

/* Normal priority messages */
div.status {
}

/* Medium priority messages */
div.warning, tr.warning {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

/* High priority messages. See also the .error declaration below. */
div.error, tr.error {
}

/* Help text on a page */
.help {
  margin: 1em 0;
}

/* Link to more help */
.more-help-link {
  font-size: 0.85em;
  text-align: right;
}

/* Wrapper for the actual page content */
#content-area {
}

/* List of links */
ul.links {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

/* A list of page numbers when more than 1 page of content is available */
.pager {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current {
  padding: 0.5em;
}

/* The links to the RSS or Atom feeds for the current list of content */
.feed-icons {
  margin: 1em 0;
}

/* Wrapper for any blocks placed in the "content bottom" region */
#content-bottom {
}

/* navbar */
.with-navbar #content,
.with-navbar #sidebar-left,
.with-navbar #sidebar-right {
  margin-top: 75px;
}

//to fix spacing issue
#titlebanner {
  clear: both;
  padding: 7px 0;
  margin-top: 45px;
}

/* Wrapper for the search form */
#search-box {
}

/* Label that says "Search this site:" */
#edit-search-theme-form-1-wrapper label {
  display: none;
}

//* sidebar-left **/
#sidebar-left {
 font-size: .9em;
}

#sidebar-left-inner {
 border-right: 1px dotted #968668;
 min-height: 250px;
 padding-right: 5px;

}

//* sidebar-right **/
#sidebar-right {
 font-size: .9em;
 border-left: 1px dotted #968668;
 min-height: 250px;
}

#sidebar-right-inner
{
}

#sidebar-left h2,
#sidebar-right h2 {
  font-size: 1.1em;
}

//* footer **/
#footer {
  color: #777;
  font-size: 11px;
  text-align: center;
  margin: 0;
  line-height: 17px;

  #simpson {
    color: #968668;
    padding-left: 4px;
  }

  img {
    padding: 0;
    vertical-align: middle;
    float: right;
  }

  a {
    border: 0;
  }
}

#footer-message {
  display: inline;
  float: left;
  text-align: center;
  width: 960px;
}

//* closure **/

/* Wrapper for any blocks placed in the closure region */
#closure-blocks{
}

//* Drupal nodes **/

/* Node wrapper */
.node {
}

/* Additional wrapper for node */
.node-inner {
}

/* A sticky node (displayed before others in a list) */ 
.sticky {
}

/* Unpublished nodes */
.node-unpublished {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

/* The word "Unpublished" displayed beneath the content. */
.node-unpublished div.unpublished,
.comment-unpublished div.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/* A node created by the current user */
.node-mine {
}

/* A node displayed as teaser */
.node-teaser {
}

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
 
 /* Page content node */
 .node-type-page {
 }

/* Story content node */
.node-type-story {
}

/* Node title */
.node h2.title {
}

/* "New" or "Updated" marker for content that is new or updated for the current user */
.marker {
  color: #c00;
}

/* The picture of the node author */
.node .picture {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

/* Wrapper for submitted and terms data */
.node .meta {
}

/* The "posted by" information */
.node .submitted {
}

/* Node terms (taxonomy) */
.node .terms {
}

/* Node's content wrapper */
.node .content {
}

/* Node links. See also the ul.links declaration above. */
.node ul.links {
}

/* Preview of the content before submitting new or updated content */
.preview .node {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

//* Drupal comments **/

/* Wrapper for the list of comments and its title */
#comments {
  margin: 1em 0;
}

/* Heading for the list of comments */
#comments-title {
}

/* Wrapper for a single comment */
.comment {
}

/* Additional wrapper for a single comment */
.comment-inner {
}

/* Preview of the comment before submitting new or updated comment */
.comment-preview {
}

/* A new comment since the user last viewed the page. */
.comment.new {
}

/* An odd-numbered comment in the list of comments */
.comment.odd {
}

/* An even-numbered comment in the list of comments */
.comment.even {
}

/* The first comment in the list of comments */
.comment.first {
}

/* The last comment in the list of comments */
.comment.last {
}

/* Unpublished comments */
.comment-unpublished {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

/* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
.comment-unpublished div.unpublished {
}

/* Published comments */
.comment-published {
}

/* A comment created by an anonymous user */
.comment-by-anon {
}

/* A comment created by the node's author */
.comment-by-author {
}

/* A comment created by the current user */
.comment-mine {
}

/* Comment title */
.comment h3.title {
}

/* "New" marker for comments that are new for the current user */
.new {
  color: #c00;
}

/* The picture of the comment author */
.comment .picture {
}

/* The "posted by" information */
.comment .submitted {
}

/* Comment's content wrapper */
.comment .content {
}

/* The user's signature */
.comment .user-signature {
}

/* Comment links. See also the ul.links declaration above. */
.comment ul.links {
  margin: 1em 0;
}

/* Nested comments are indented */
.indented {
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

/* Preview of the comment before submitting new or updated comment */
.preview .comment {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/* Drupal blocks */

/* Block wrapper */
.block {
  margin-bottom: 1em;
}

/* Zebra striping for each block in the region */
.block.region-odd {
}

/* Zebra striping for each block in the region */
.block.region-even {
}

/* Zebra striping independent of each region */
.block.odd {
}

/* Zebra striping independent of each region */
.block.even {
}

/* Incremental count for each block in the region */
.region-count-1 {
}

/* Incremental count independent of each region */
.count-1 {
}

/* Additional wrapper for block */
.block-inner {
}

/* Block title */
.block h2.title {
}

/* Block's content wrapper */
.block .content {
}

/* Block for the latest news items in the first category */
#block-aggregator-category-1 {
}

/* Block for the latest news items in the first feed */
#block-aggregator-feed-1 {
}

/* First administrator-defined block */
#block-block-1 {
}

/* "Recent blog posts" block */
#block-blog-0 {
}

/* "Book navigation" block for the current book's table of contents */
#block-book-0 {
}

/* "Recent comments" block */
#block-comment-0 {
}

/* "Active forum topics" block */
#block-forum-0 {
}

/* "New forum topics" block */
#block-forum-1 {
}

/* "Primary links" block */
#block-menu-primary-links {
}

/* "Secondary links" block */
#block-menu-secondary-links {
}

/* "Syndicate" block for primary RSS feed */
#block-node-0 {
}

/* "Most recent poll" block */
#block-poll-0 {
}

/* "Author information" block for the profile of the page's author */
#block-profile-0 {
}

/* "Search form" block */
#block-search-0 {
}

/* "Popular content" block */
#block-statistics-0 {
}

/* "User login form" block */
#block-user-0 {
}

/* "Navigation" block for Drupal navigation menu */
#block-user-1 {
}

/* "Who's new" block for a list of the newest users */
#block-user-2 {
}

/* "Who's online" block for a list of the online users */
#block-user-3 {
}

/* Drupal boxes */
/* Wrapper for Comment form, Comment viewing options, Menu admin, and Search results.*/

/* Wrapper for box */
.box {
}

/* Additional wrapper for box */
.box-inner {
}

/* Box title */
.box h2.title {
}

/* Box's content wrapper */
.box .content {
}

//* Miscellaneous Drupal styles **/
/* Errors that are separate from div.messages status messages (see above.) */
.error {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

/* Warnings that are separate from div.messages status messages (see above.) */
.warning {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

/* Aggregator, blog, and forum more link */
.more-link {
  text-align: right;
}

/* Drupal's default login form */
#user-login-form {
  text-align: left;
}

/* Some tables have rows marked even or odd. */
tr.even {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

/* background-color: #eee; */ /* Drupal core uses a #eee background */
tr.odd {
  
}

/* The active item in a Drupal menu */
li a.active {
  color: #000;
}


//* Drupal forms **/

/* Wrapper for a form element (or group of form elements) and its label */
.form-item, 
.form-checkboxes,
.form-radios {
  margin: 1em 0;
}

/* Highlight the form elements that caused a form submission error */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid #c00;
}

/* The label for a form element */
.form-item label {
  display: block;
  font-weight: bold;
}

/* The label for a radio button or checkbox */
.form-item label.option {
  display: inline;
  font-weight: normal;
}

/* The part of the label that indicates a required field */
.form-required {
  color: #c00;
}

/* The descriptive help text (separate from the label) */
.form-item .description {
  font-size: 0.85em;
}

/* Pack groups of checkboxes and radio buttons closer together */
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0.4em 0;
}

/* The submit button */
.form-submit {
}

/* Inline labels and form divs */
.container-inline div, 
.container-inline label {
  display: inline;
}

/* Tips for Drupal's input formats */
.tips {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

/* OpenID */
/* The default styling for the OpenID login link seems to assume Garland's styling of list items. */
/* OpenID creates a new ul above the login form's links. */
#user-login-form ul {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

/* The "Log in using OpenID" links. */
#user-login-form li.openid-link {
  margin-top: 1em;
  margin-left: -20px; /* Un-do some of the padding on the ul list. */
}

/* The "Cancel OpenID login" links. */
#user-login-form li.user-link {
  margin-top: 1em;
}

#user-login ul {
  margin: 1em 0;
}

/* The OpenID links on the /user form. */
#user-login li.openid-link,
#user-login li.user-link {
  margin-left: -2em; /* Un-do all of the padding on the ul list. */
}

/* Drupal admin tables */
/* We overrode these styles in html-elements.css, but restore them for the forms on the site. */
form tbody {
  border-top: 1px solid $lightGray;
}

form th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid $lightGray;
}

form tbody th {
  border-bottom: 1px solid $lightGray;
}

form thead th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid $lightGray;
}

// NICE MENUS */
#nice-menu-1 li ul li ul li {
  display: none;
}

ul.nice-menu,
ul.nice-menu ul {
  color: $darkGray;
  background: $ccaTan;
}

ul.nice-menu li,
ul.nice-menu-down li ul li {
  color: $darkGray;
  background: $ccaTan;
  width: 160px; // makes menu width = #header width
  padding-right: 0;
  font-size: 11px;
}

ul.nice-menu a {
  color: $darkGray;
  background: $ccaTan;
  text-decoration: none;
  padding-right: 0;
  text-align: center;
}

ul.nice-menu a:hover {
  color: #fff;
  background: #968668;
  text-decoration: none;
  padding-right: 0;
}

ul.nice-menu-down li,
ul.nice-menu li {
  border: 1px solid #b8a47f;
  padding-right: 0;
}

ul.nice-menu-down li.menuparent,
ul.nice-menu-down li.menuparent ul li,
#header-region ul.nice-menu-down li.menuparent {
  background: none;
  padding-right: 0;
}

ul.nice-menu-down .menuparent a {
  padding-right: 0;
  background: none;
}

ul.nice-menu-down li.menuparent,
// Repeat for Garland header. */
// @todo is there a reason why we're repeating styles
// for a theme we're not using?
#header-region ul.nice-menu-down li.menuparent {
  background: none;
  padding-right: 0;
}

ul.nice-menu-down li.menuparent:hover,
ul.nice-menu-down li.over,
ul.nice-menu-down li:hover,
ul.nice-menu-down li ul li:hover,
// Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent:hover,
#header-region ul.nice-menu-down li.over {
  background: #968668;
  padding-right: 0;
}

ul.nice-menu-down li li.menuparent,
// Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent {
  background: none;
  padding-right: 0;
}

ul.nice-menu-down li li.menuparent:hover,
ul.nice-menu-down li li.over,
ul.nice-menu-down li ul li a:hover,
// Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent:hover,
#header-region ul.nice-menu-down li li.over {
  background: #968668;
  padding-right: 0;
}

#menu-568 {
  font-weight: bold;
}


//GOOGLE DOCS IFRAMES*/
iframe#googledocs {
  padding: 5px;
  overflow: visible;
}
//STAFF PAGE*/
.views-view-grid .col-1 {
  min-width: 600px;
}

#togg-link,
#togg-link2 {
  border: 0;
  font-size: 11px;
}

.views-field-picture {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
}

.views-field-value-4,
.views-field-value-5,
.views-field-mail {
  display: inline;
  float: left;
  padding-right: 3px;
}

.views-field-value-2:before,
.views-field-value-3:before {
  content:"|";
}

.views-field-value-4,
.views-field-value-5,
.views-field-value-3 {
  font-weight: bold;
  font-size: 1.03em;
  padding-top: 5px;
}

.field-content {
  font-size: 12px;
  line-height: 1.286;

  .picture img {
    width: 100px
  }
}

.picture a img {
  padding: 2px;
  border: 1px solid $lightGray;
  margin: 2px 5px;
  text-decoration: none;
}

.views-field-value .field-content {
  margin: 5px 10px 5px 125px;
  color: #666;
}

.views-field-value .field-content-toggle {
  display: none;
  visibility: visible;
}

//BLOG*/
.node-type-blog .node-inner .content img {
  float: left;
  display: inline;
  margin: 0 10px 5px 5px;
  border: 1px solid $lightGray;
  padding: 3px;
}

.node-type-blog .node-inner .content {
  font-size: 12px;
  line-height: 18px;
  clear: both;
  margin: 5px 25px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.node-type-blog .meta,
#comments .submitted,
.node-type-blog .meta a  {
  font-size: 11px;
  color: #666;
}

#comments .content {
  font-size: 11px;
  color: #333;
  padding: 5px;
  border-bottom: 1px dotted $lightGray;
}

#comments .links {
  padding: 0;
  margin: 5px;
}

#comments h2 {
  font-size: .96em;
  margin-bottom: 3px;
}

#comments h3 {
  display:none;
}

.node-type-blog li.blog_usernames_blog {
  display: none;
}

.node-type-blog ul.links li a {
  color: #777;
  border-bottom: 1px dotted #777;
}

.node-type-blog h2.title {
  margin: 0;
  padding-left: 0;
  font-size: 16px;
}

.node-type-blog h2.title a {
  border: 0;
}

.node-type-blog h2.title a:hover {
  border: 0;
  color: $lightBlue;
}

.node-type-blog {
  margin-bottom: 25px;
  padding-bottom: 8px;
  border: 3px solid $ccaTan;
  padding: 10px;
  clear: both;
}

.meta .submitted {
  float: left;
}

.meta .terms-inline {
  margin-left: 3px;
}

.terms-inline ul.links.inline li {
  padding: 1px;
  margin: 0;
}

ul.links.inline li.node_read_more a {
  color: #072e99;
}

// HOMEPAGE */
#tabs {
  margin-left: 16px;
}

// search boxes
// currently (10/20/14) only on home page
// but meant to be reusable
.search-wrapper {
  margin-bottom: 10px;
  // = #home-column margin-left
  padding-left: 5px;

  .nav-tabs {
    // needed to align .nav-tabs & .tab-content borders
    margin-right: 0;
  }

  .tab-content {
    // color == bootstrap's .nav-tabs color
    border: 1px solid #ddd;
    // top border comes from .nav-tabs
    border-top: 0;
    // padding-left == bootstrap's .nav>li>a padding-left
    padding: 2em 15px;
  }
}

.search-box form {
  // undoing form { margin: 0 } in site styles
  // which should probably just be removed, can't see how that's useful
  margin-bottom: 1em;
  margin-top: 1em;
  // margin-left = h3 padding-left from site styles
  // the labels in search box are h3s but this is rather arbitrary
  // in other contexts
  margin-left: 10px;
}

// home page columns
#home-column {
  display: inline;
  float: left;
  padding: 0;
  margin: 0 5px 5px 5px;
}

#home-column3 {
  display: inline;
  float: right;
  width: 300px;
  padding: 0;
  margin: 0 5px 5px 5px;
}

#newbooks,
#services,
#home-news,
#home-resources {
  display: inline;
  float: left;
  width: 300px;
  text-align: left;
  padding: 0;
  margin: 0;
}

#home-resources {
  width: 350px;
}

#tools {
  float: left;
  width: 940px;
  padding: 0;
  border: 1px solid $lightGray;

  h3 {
    background: #eee;
    border-bottom: 1px dotted $lightGray;
    padding-left: 1em;
    font-size: 13px;
  }
}

#newbooks h3,
#services h3,
#tools h3,
#home-news h3 {
  font-weight: normal;
  margin-bottom: 5px;
  padding: 4px;
}

#newbooks {
  background-color: #fff;
  border: 1px solid $lightBlue;
  color: #333;
  margin-bottom: 5px;
  width: 250px;
}

#newbooks h3,
#services h3,
#home-news h3 {
  background: #e0e4fe;
  border-bottom: 1px dotted $lightBlue;
  padding-left: 10px;
  font-size: 13px;
}

#services,
#home-news {
  background-color: #fff;
  border: 1px solid $lightBlue;
  margin-bottom: 10px;
}

#home-news h3 a,
#newbooks h3 a {
  color: #333;
  font-size: 13px;
}

#home-news .item-list {
  width: 290px;
  margin-top: 0;
}

#services ul li,
#home-news .item-list ul li {
  list-style-type: none;
  margin: 7px 0;
  font-size: 12px;
  line-height: 21px;
  border-bottom: 1px dotted #CAD5EA;
}

#services ul li strong a {
  font-size: 12px;
  color: #06277F;
}

#services ul li strong a:hover {
  color: #666;
}

#newbooks #books {
  text-align: center;
}

#newbooks a img {
  text-decoration: none;
  border: 1px solid $lightBlue;
  margin: 0 1px 3px 1px;
  padding: 5px;
}

#newbooks a:hover img {
  background: $lightGray;
  border: 1px solid #666;
  padding: 5px;
}

#newbooks a,
#services a,
#tools a,
#home-news a {
  border: 0;
}

#home-resources p {
  font-size:18px;
  line-height:30px;
  color:#666;
  margin-top: 5px;
}

#home-resources a {
  font-weight: bold;
}

//SIDEBARS */
#sidebar-left .block ul li,
#sidebar-right .block ul li {
  font-size: 11px;
  margin-bottom: 2px;
}

#content-bottom .block-inner {
  float: left;
  background: #eee;
  border: 1px solid #777;
  width: 920px;
  padding: 10px;
  margin-bottom: 10px;
}

#content-bottom .block-inner h2 {
  color: #990000;
}

#content-bottom .block-inner ul {
  font-weight: bold;
}

#content-bottom .block-inner ul li,
#content-bottom .block-inner #delicious-posts-ccalibrary ul li {
  font-weight: normal;
  margin-left: 20px;
}

#column-bottom {
  float: left;
  width: 420px;
  margin: 0 10px;
}

#delicious-posts-ccalibrary h2 {
  display: none;
}

#edit-search-block-form-1-wrapper input[type="text"] {
  border: 1px solid $lightGray;
  font-size: 13px;
  height: 14px;
  padding: 3px;
  width: 100px;
  margin-top: 2px;
}

#webform-report-search-form fieldset.collapsible {
  clear: both;
}

fieldset div.picture {
  display: none;
}

.node-type-chat .meta,
.node-type-chatroom .meta {
  display: none;
}

//RSS feed styling*/
div.feedEntryContent div.millennium.coverimage img[class*='isbn-'] {
  width:90px;
  height:130px;
}

#feedTitleImage {
  width:90px;
  height:130px;
}

// override select pieces of Bootstrap
@import '_redostrap';