@charset "UTF-8";
/* CSS Document */
#tools {
background-color: white;
border: 1px solid #CCC;
display: block;
float: left;
margin: 0px;
padding: 0px;
text-align: left;
width: 940px;
}
#tools-3, #tools-4, #tools-5 {

display: block;

float: left;

margin: 0px;

padding: 0px;
text-align: left;

width: 290px;
}
#tools-5 li.right {
font-size: 11px;
line-height: 12px;
margin: 0px 0px 10px;
padding: 0px;
text-align: right;
width: 280px;
}
#tools-3 li, #tools-4 li, #tools-5 li {
background: white;
font-size: 12px;
line-height: 19px;
list-style-type: none;
margin: 0px;
padding: 3px 0px;
width: 200px;
}

.profile .picture {
float: left;
}

#home-column {
padding-top: 10px;
}

#searchcontainer select, #searchbox select {
font-size: 12px;
width: 110px;
}
#searchcontainer input[type="text"] {
width: 375px;
}

#logo img {
padding-bottom: 10px;
}